<nav class="navbar  navbar-expand-lg bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="" width="30" height="24">
        </a>
        <a class="navbar-brand font-weight-bold" href="#">Shastri</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link  " id="dashboard-txt" href="/">DashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " id="dashboard-txt" href="/commands">Commands</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " id="dashboard-txt" href="/">
                        Invite
                    </a>
                </li>
                <li class="nav-item">
                    <a id="dashboard-txt" class="nav-link disabled ">Donate</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">Moderation 🛡️</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each modcmds}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- General Commands --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">General 🤖</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each generalcmds}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Log Commands --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">Logging  📖</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each logcmd}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Fun --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">Fun 😄</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each funcmd}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Custom --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading"> Custom ✏️</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each customcmds}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" href="/stylesheets/style.css">
<style>
    #body {
        background: #202020;
    }
</style>