{{>navbar}}


<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">Moderation 🛡️</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each modcmds}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- General Commands --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">General 🤖</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each generalcmds}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Log Commands --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">Logging  📖</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each logcmd}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Fun --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading">Fun 😄</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each funcmd}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

{{!-- Custom --}}
<div id="body" class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-dark text-white table-hover">
            <thead>
                <h3 class="cmdheading"> Custom ✏️</h3>
                <tr>
                    <th colspan="2">Command</th>
                    <th>Usage</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Permissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each customcmds}}
                <tr>
                    <td colspan="2">
                        <h6> {{this.command}} </h6>
                    </td>
                    <td>
                        <div class="d-flex align-items-center"><span class="ml-2"> {{this.usage}} </span>
                        </div>
                    </td>
                    <td> {{this.description}}<br></td>
                    <td class="font-weight-bold"> {{this.type}} </td>
                    <td> {{this.perms}} </td>
                    <td><i class="fa fa-external-link external-link"></i></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" href="/stylesheets/style.css">
<style>
    #body {
        background: #202020;
    }
</style>